@import "~rsuite/dist/styles/rsuite-dark.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root,
#root > div {
  height: 100%;
}

.center {
  text-align: center;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mt-c {
  margin-top: 30vh;
}

.pt-2 {
  padding-top: 2rem;
}

.avatar-upload label {
  display: block;
  cursor: pointer;
  padding: 0.9rem 1.2rem;
}
.avatar-upload input {
  display: none;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.avatar-large {
  height: 200px;
  width: 200px;
  font-size: 5rem;
}

//need to get more specific than rsuite selectors
.avatar-large > img.rs-avatar-image {
  height: 100%;
  width: 100%;
}

.small-image {
  display: block;
  width: 200px;
  height: 200px;
}

.grid-center {
  display: grid;
  justify-items: center;
}

.fireside-nav,
.chat-middle {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: #ddd;
  }

  &::-webkit-scrollbar-thumb {
    background: darken(#ddd, 20%);
  }
}

.h-100 {
  height: 100%;
}

.marker {
  // border: 2px solid yellow;
}

.marker-red {
  // border: 2px solid red;
}
.marker-blue {
  // border: 2px solid blue;
}

.overflow-y-hidden {
  overflow-y: hidden;
}
.flex {
  display: flex;
}

$chat-t: 75px;
$chat-b: 65px;

.chat-top {
  height: $chat-t;
}

.chat-bottom {
  height: $chat-b;
}

.chat-middle {
  height: calc(97vh - #{$chat-t} - #{$chat-b});
}

.rs-nav .rs-dropdown .rs-dropdown-menu-active ~ .rs-dropdown-toggle,
.rs-nav .rs-nav-item-active > .rs-nav-item-content,
.rs-nav .rs-dropdown .rs-dropdown-menu-active ~ .rs-dropdown-toggle:hover,
.rs-nav .rs-nav-item-active > .rs-nav-item-content:hover,
.rs-nav .rs-dropdown .rs-dropdown-menu-active ~ .rs-dropdown-toggle:focus,
.rs-nav .rs-nav-item-active > .rs-nav-item-content:focus,
.rs-nav .rs-dropdown .rs-dropdown-menu-active ~ .rs-dropdown-toggle:active,
.rs-nav .rs-nav-item-active > .rs-nav-item-content:active {
  color: #fbb03b;
}

.rs-nav-subtle.rs-nav-vertical .rs-nav-item > .rs-nav-item-content::before {
  background-color: #fbb03b;
}

.rs-input-group:not(.rs-input-group-inside):not(.rs-input-group-disabled):hover,
.rs-input-group:not(.rs-input-group-inside):not(.rs-input-group-disabled).rs-input-group-focus {
  border-color: #fbb03b;
}

a {
  color: #fbb03b;
}
