@import "~rsuite/dist/styles/rsuite-dark.css";

@base-color: red;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root,
#root > div {
  height: 100%;
}

.center {
  text-align: center;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mt-c {
  margin-top: 30vh;
}
.avatar-upload label {
  display: block;
  cursor: pointer;
  padding: 0.9rem 1.2rem;
}
.avatar-upload input {
  display: none;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.avatar-large {
  height: 200px;
  width: 200px;
  font-size: 5rem;
}

//need to get more specific than rsuite selectors
.avatar-large > img.rs-avatar-image {
  height: 100%;
  width: 100%;
}

.small-image {
  display: block;
  width: 200px;
  height: 200px;
}

.grid-center {
  display: grid;
  justify-items: center;
}

.fireside-nav {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: #ddd;
  }

  &::-webkit-scrollbar-thumb {
    background: darken(#ddd, 20%);
  }
}

.h-100 {
  height: 100%;
}

.marker {
  // border: 2px solid yellow;
}

.marker-red {
  // border: 2px solid red;
}
.marker-blue {
  // border: 2px solid blue;
}

.overflow-y-hidden {
  overflow-y: hidden;
}
.flex {
  display: flex;
}
